.snm-button{
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-size: 3rem;
    padding: 1rem;
    border: 0.2rem solid var(--primary-color);
    border-radius: 1rem;

    transition: box-shadow var(--transition-time), background-color var(--transition-time);
}

.snm-button:hover{
    box-shadow: 10px 10px 15px var(--secondary-bg-color);
}

.snm-button:active{
    background-color: var(--secondary-bg-color);
}