.snm-button{
    position: relative;
    background-color: rgb(25, 25, 25);
    color: var(--primary-color);
    font-family: noir;
    font-size: 3rem;
    padding: 1.4rem;
    border: 0px;
    border-radius: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color var(--transition-time);
}

.snm-button:active{
    background-color: rgb(15, 15, 15);
}

.snm-button::after{
    content: '';
    position: absolute;
    height: 110%;
    width: 103%;
    border-radius: 0.5em;
    background-image: url(./noise.svg);
    filter: contrast(60%);
    z-index: -1;

    transition: transform var(--transition-time);
}

.snm-button:hover::after{
    transform: scale(1.05);
}