# --- Backend ---
# Fill out ALLOWED_ORIGINS with the URL(s) you use to connect to the frontend. No trailing slashes.
# Supports comma separated values. Do not leave this on * unless you're testing.
ALLOWED_ORIGINS=*
# The port used by the backend. The client should connect to this port.
BACKEND_PORT=8080

# --- Frontend ---
# The hostname and port the client connects to.
NEXT_PUBLIC_API_HOST=localhost
NEXT_PUBLIC_API_PORT=8080
# The port the frontend runs on. Recommended to leave this on 80.
FRONTEND_PORT=80