@font-face {
    font-family: misproject;
    src: url(../../../public/fonts/misproject.woff2);
}

.container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 8rem;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
}

.title-font{
    font-family: misproject;
    font-size: 10rem;
    margin-bottom: 2rem;
    text-align: center;
}